/* visually hide elements only for screen-readers */

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  position: "absolute";
  white-space: "nowrap";
  word-wrap: "normal";
}

/* Wrapper used throughout the app */

.wrapper {
  inline-size: clamp(343px, 90vw, 1080px);
  margin-inline: auto;
}

/* Stack - used for multiple elements on top of each other */

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--stack-space, var(--space-m-l));
}

/* Icons */

.icon {
  width: 1.5ex;
  height: 1.5ex;
}
